{"ZoHo":{"enabled":"0","workspace_name":"","api_DeskDepartment":"","api_OrgID":"","OAuth":{"OAuth_ClientID":"","OAuth_ClientSecret":"","OAuth_InitCode":"","OAuth_RefreshToken":"","OAuth_AccessToken":"","OAuth_Expire":""},"LastSave":""},"RingCentral":{"enabled":0,"Phone_Queue":"","OAuth":{"OAuth_ClientID":"","OAuth_ClientSecret":"","OAuth_jwt":""},"LastSave":""}}
